<div class="row">
  <div class="col-xl-7 col-md-8 col-11 mx-auto m-b-40">
    <nz-card class="card--auth">
      <div class="row no-gutters align-items-center">
        <div class="col-md-11 col-xl-11 col-12 mx-auto p-t-30">
          <!-- <img src="assets/images/logo/5cd86c5269c85bcc6dfd9d97f1e772ee.png" alt="" class="img-fluid mb-4" width="367px"> -->
          <h1
            class="ff-poppins fs-22 fw-bolder container-form-mobile text-center"
            style="color: #202224"
          >
            Recupera tu contraseña
          </h1>
          <p
            class="m-b-20 fs-15 container-form-mobile text-center"
            style="color: #202224"
          >
            Ingresa tu correo registrado
          </p>
          <form
            nz-form
            [formGroup]="frmRecoverPassword"
            nzLayout="vertical"
            class="login-form container-form-mobile"
          >
            <nz-row class="m-b-20">
              <nz-col [nzSm]="24" [nzXs]="24">
                <nz-form-item>
                  <nz-form-label nzFor="password" class="label--right">
                    <span style="color: #202224">Correo Electrónico:</span>
                  </nz-form-label>
                  <nz-form-control>
                    <input type="text" nz-input formControlName="email" />
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
            </nz-row>

            <nz-row class="mb-5">
              <nz-col [nzSm]="24" [nzXs]="24">
                <nz-form-control>
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <button
                      nz-button
                      class="login-form-button w-100 border-0"
                      [nzType]="'primary'"
                      (click)="onSubmit()"
                      [nzLoading]="loadingSubmit"
                    >
                      Confirmar
                    </button>
                  </div>
                </nz-form-control>
              </nz-col>
            </nz-row>
            <div class="text-center">
              <span class="font-size-15"
                >Recordaste tu contraseña?
                <a [routerLink]="'/auth/login'"> Login</a></span
              >
            </div>

            <div class="mb-2 mt-5" *ngIf="showError">
              <div
                class="d-flex w-100 align-items-center p-2"
                style="background: rgba(113, 113, 113, 1); border-radius: 5px"
              >
                <p class="mb-0 text-white">
                  <i
                    nz-icon
                    nzType="close"
                    style="font-size: 18px"
                    nzTheme="outline"
                  ></i
                  >&nbsp;&nbsp;{{ textError }}
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </nz-card>
  </div>
</div>
