<nz-row class="m-b-20 modal-auth-detail">
  <nz-col [nzSm]="24" [nzXs]="24" class="m-b-20" >
    <div class="d-flex align-items-center">
      <label for="fileupload" class="position-relative file-upload">
        <img [src]="avatarUrl" alt="" class="rounded-circle img-fluid" style="width: 120px; height: 120px;">
      </label>
      <div class="p-l-20">
        <h3>{{ userModel?.name }}</h3>
        <p class="m-0" style="font-size: 12.5px;">ID: <span class="text-uppercase">{{ userModel?.uuid }}</span> - {{ packTitle }} -
          <ng-container *ngIf="paymentOrder?.payment_order"><span>{{ pointTotal }} P. Grupales -
            <ng-container *ngIf="paymentOrder.state == 2"><span style="color: #00B517;">Activo</span></ng-container>
            <ng-container *ngIf="paymentOrder.state == 6"><span class="text-gray-7">Desactivo</span></ng-container>
             </span></ng-container>

        </p>
      </div>
    </div>
  </nz-col>
  <nz-col [nzSm]="24" [nzXs]="24" class="" >
    <p class="m-0">Correo electrónico:</p>
    <input nz-input placeholder="Basic usage" [(ngModel)]="emailUser" type="text" [disabled]="true"/>
  </nz-col>
</nz-row>

<nz-row class="m-b-40 modal-auth-detail"  >
  <nz-col [nzLg]="8" [nzXs]="8" class="text-center p-l-10 p-r-10">
    <h1 style="font-size: 4rem;">{{ usuarioTotal }}</h1>
    <p class="m-0" style="color: #C4C4C4;">Personas totales en tu red</p>
  </nz-col>
  <nz-col [nzLg]="8" [nzXs]="8" class="text-center p-l-10 p-r-10" style="border-left: 1px solid #C4C4C4;">
    <h1 style="font-size: 4rem;">{{ usuarioDirectos }}</h1>
    <p class="m-0" style="color: #C4C4C4;">Directos</p>
  </nz-col>
  <nz-col [nzLg]="8" [nzXs]="8" class="text-center p-l-10 p-r-10" style="border-left: 1px solid #C4C4C4;">
    <h1 style="font-size: 4rem;">{{ usuarioActivos }}</h1>
    <p class="m-0" style="color: #C4C4C4;">Usuarios Activos</p>
  </nz-col>
</nz-row>


<nz-row class=""  >
  <nz-col  [nzXs]="24" class="">
    <p class="text-uppercase text-gray-7 font-weight-bold notranslate" [style]="userModel?.range != null? 'margin-bottom: 7px;' : ''">RANGO ACTUAL: {{ userModel?.range == null ? 'SIN RANGO' : userModel?.range.range.title }} <span class="d-inline-block text-center text-gray-8 border rounded-lg font-size-12 m-l-10 notranslate" style="border-color: #E2E8F0 !important; padding: 0 6px; min-width: 30px;">{{ userModel?.range == null ? 0 : 1 }}</span> &nbsp;&nbsp;
      <ng-container *ngIf="userModel?.range != null">
        <img [src]="env.hostUrl + '/storage/' + userModel?.range.range.file.path" alt="" style="width: 32px;">
      </ng-container>

      </p>

  </nz-col>
</nz-row>
