<div class="row">
  <div class="col-xl-7 col-md-8 col-11 mx-auto m-b-40">
    <nz-card class="card--auth">
      <div class="row no-gutters align-items-center">
        <div class="col-12 col-md-12 col-lg-11 col-xl-11 mx-auto p-t-20 p-b-20">
          <!-- <img src="assets/images/logo/5cd86c5269c85bcc6dfd9d97f1e772ee.png" alt="" class="img-fluid mb-4" width="367px"> -->

          <h1
            class="ff-poppins fs-25 fw-bolder container-form-mobile text-center"
            style="color: #202224"
          >
            Crea tu cuenta
          </h1>
          <p
            class="m-b-10 fs-14 container-form-mobile text-center"
            style="color: #202224"
          >
            Ingrese su información para continuar
          </p>
          <form
            nz-form
            [formGroup]="frmRegister"
            nzLayout="vertical"
            class="login-form container-form-mobile"
          >
            <nz-row>
              <nz-col [nzSm]="24" [nzXs]="24">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="userName"
                    >Nombre</nz-form-label
                  >
                  <nz-form-control nzErrorTip="Campo obligatorio.">
                    <input type="text" nz-input formControlName="userName" />
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
            </nz-row>
            <nz-row>
              <nz-col [nzSm]="24" [nzXs]="24">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="email"
                    >Correo Electrónico</nz-form-label
                  >
                  <nz-form-control [nzErrorTip]="errorEmail">
                    <input
                      type="text"
                      nz-input
                      placeholder=""
                      formControlName="email"
                    />
                    <ng-template #errorEmail let-control>
                      <ng-container *ngIf="control.hasError('required')"
                        >Campo obligatorio.</ng-container
                      >
                      <ng-container *ngIf="control.hasError('email')">
                        Email incorrecto
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
            </nz-row>
            <nz-row>
              <nz-col [nzSm]="24" [nzXs]="24">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="dni">DNI</nz-form-label>
                  <nz-form-control [nzErrorTip]="errordni">
                    <input
                      type="text"
                      nz-input
                      placeholder=""
                      formControlName="dni"
                    />
                    <ng-template #errordni let-control>
                      <ng-container *ngIf="control.hasError('required')"
                        >Campo obligatorio.</ng-container
                      >
                      <!-- <ng-container *ngIf="control.hasError('dni')">
                                Email incorrecto
                              </ng-container> -->
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
            </nz-row>
            <nz-row>
              <nz-col [nzSm]="24" [nzXs]="24">
                <nz-form-item>
                  <nz-form-label nzFor="country"
                    >Indicar País</nz-form-label
                  >
                  <nz-form-control>
                    <input type="text" nz-input formControlName="country" />
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
            </nz-row>
            <nz-row>
              <nz-col [nzSm]="24" [nzXs]="24">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="password"
                    >Contraseña</nz-form-label
                  >
                  <nz-form-control [nzErrorTip]="errorPassword">
                    <input
                      type="password"
                      nz-input
                      formControlName="password"
                    />
                    <ng-template #errorPassword let-control>
                      <ng-container *ngIf="control.hasError('required')"
                        >Campo obligatorio.</ng-container
                      >
                      <ng-container *ngIf="control.hasError('minlength')">
                        Colocar una contraseña de mínimo 8 carácteres
                      </ng-container>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
            </nz-row>
            <nz-row>
              <nz-col [nzSm]="24" [nzXs]="24">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="repeatpassword"
                    >Confirmar Contraseña</nz-form-label
                  >
                  <nz-form-control nzErrorTip="Campo obligatorio.">
                    <input
                      type="password"
                      nz-input
                      formControlName="repeatpassword"
                    />
                  </nz-form-control>
                </nz-form-item>
              </nz-col>
            </nz-row>
            <nz-row>
              <nz-col [nzSm]="24" [nzXs]="24">
                <nz-form-control>
                  <label nz-checkbox formControlName="terms">
                    <span>
                      Acepto los <a href="#"> términos y condiciones</a>
                    </span>
                  </label>
                </nz-form-control>
              </nz-col>
            </nz-row>
            <nz-row class="pt-4">
              <nz-col [nzSm]="24" [nzXs]="24">
                <nz-form-control>
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <button
                      nz-button
                      class="login-form-button w-100 bg-gray-2 border-0"
                      [nzType]="'primary'"
                      (click)="onSubmit()"
                      [nzLoading]="loadingSubmit"
                    >
                      Crear cuenta
                    </button>
                  </div>
                </nz-form-control>
              </nz-col>
            </nz-row>
          </form>
        </div>
      </div>
    </nz-card>
  </div>
</div>
