<div class="p-30 text-center">
  
    <h1 class="fs-20">NUESTRO PLANES DE AFILIACIÓN:<br>
    INDUSTRIA NETWORKER</h1>
</div>

<div class="text-center p-t-20">
  <!-- <h1 class="m-b-40">Inicia tu negocio como franquiciante y gana</h1> -->
  <nz-row class="m-b-30 justify-content-center">
    <nz-col [nzLg]="24" [nzSm]="24" [nzXs]="24" class="m-b-10">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let plan of planList">
          <ng-template carouselSlide [id]="plan.id">
            <div class="position-relative text-center p-t-20">
              <h2 class="m-0 fs-25 text-center position-relative" style="z-index: 9;">{{ plan.title }}</h2>
              <div class="m-b-10 " style="margin-top: -50px;">
                <img [src]="env.hostUrl + '/storage/' + plan.file.path" alt="" class="img-fluid rounded">
              </div>
              <p style="margin-top: -50px;">Precio {{ plan.price | number : '1.0'}} PEN, Valor {{ plan.points }} Puntos</p>
            </div>
            <div class="text-center p-t-20">
              <button nz-button nzType="primary" class="bg-rojo" (click)="onPaymentPlan( plan )">Comprar</button>
              <!--  -->
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </nz-col>
  </nz-row>
  <nz-row class="m-b-20">
    <nz-col [nzXs]="24" class="m-b-10 text-center">
      <p style="font-weight: 600;">Número de cuenta BCP Soles de la empresa es 191585831150425.  Yape: +51 904 724 635</p>
      <p style="font-weight: 600;">Mi número de cuenta interbancaria es 002191198583155042526.</p>
    </nz-col>
  </nz-row>
  <nz-row class="m-b-20">
    <nz-col [nzXs]="24" class="m-b-10">
      <div class="text-center rounded-lg p-20" style="background-color: #FFFFFF;">
        <h3 style="color: #717171;" class="fs-15">Afíliate y gana a través Bono de venta directa, Bono residual, Bono indirecta, Rangos, entre otros.</h3>
        <h2 class="fs-18">Mar información +</h2>
      </div>
    </nz-col>
  </nz-row>
</div>
