<nz-row>

  <nz-col [nzXs]="24" class=" m-b-10">
    <nz-collapse [nzExpandIconPosition]="'right'"	class="out--content">
      <nz-collapse-panel
        [nzHeader]="'Click aquí para ver listado de productos y seleccionar'"
        [nzActive]="true"
      >
        <nz-list nzBordered nzSize="small">
          <nz-list-item *ngFor="let product of _productsList; let i = index">
            <nz-col [nzXs]="18" class="">
              <p class="m-0"><b>{{ product.title }}</b> - <span style="color: #A6A6A6;"><b>{{ product.price }} PEN</b></span></p>
            </nz-col>
            <nz-col [nzXs]="6" class="text-center">
              <div class="text-black d-inline-flex align-items-center" style="background-color: #F0F0F0; border-radius: 20px; padding: 5px;">
                <i nz-icon nzType="minus" nzTheme="outline" (click)="onAddQuantity( i , -1 )" class="p-r-10 p-l-10 pointer"></i>
                <span class="notranslate">{{ product?.quantity ?? 0 }}</span>
                <i nz-icon nzType="plus" nzTheme="outline" (click)="onAddQuantity( i , 1 )" class="p-r-10 p-l-10 pointer"></i>
              </div>
            </nz-col>
          </nz-list-item>
        </nz-list>
      </nz-collapse-panel>
    </nz-collapse>
  </nz-col>
</nz-row>
